<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('./common/header'); -%>
    <div class="homeContainer">
      <h1 class="homeTitle">Compose</h1>
      <div class="composeContainer">
        <input
          class="composeinput form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </body>
</html>
